.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.tasksInfo {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 1.5rem 0;
}

.tasksCreated,
.tasksDone {
  display: flex;
  font-size: 0.875rem;
  font-weight: bold;
}

.tasksCreated {
  color: var(--blue);
}

.tasksDone {
  color: var(--purple);
}

.tasksCreated span,
.tasksDone span {
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  border-radius: 999px;
}